.scene-title {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.title-level-two {
  position: absolute;
  top: 100px;
}

.scene-game {
  height: 1080px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 420px 1fr 420px;
  grid-template-columns: 420px 1fr 420px;
  -ms-grid-rows: 65% 35%;
  grid-template-rows: 65% 35%;
  place-items: end;
}

.scene-game > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.scene-game > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.scene-game > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.scene-game > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.scene-game > *:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}

.scene-game > *:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}