// ----- imports
@use "tokens" as t;

/// ----- logic

@mixin generate-styles($color) {
	color: $color;
	&-background {
		background-color: $color;
	}
}

/* ----- social colors */

.facebook {
	@include generate-styles(t.$facebook-color);
}

.twitch {
	@include generate-styles(t.$twitch-color);
}

.youtube {
	@include generate-styles(t.$youtube-color);
}

.spotify {
	@include generate-styles(t.$spotify-color);
}

.black {
	@include generate-styles(t.$EDarkMatter-Black);
}

.white {
	@include generate-styles(t.$EDarkMatter-White);
}

.tiktok {
	@include generate-styles(t.$EDarkMatter-White);
}

/* ------ dev colors */

.background {
	background-color: t.$background-blue;
	&-white {
		background-color: t.$EDarkMatter-Grey-Palette-1-hex;
	}
}

/* ---- other colors */

.glass-background {
	background-color: t.$glass-color;
}
