// ----- imports
@use "tokens" as t;

/* ----- spacing ----- */
/* regular spacing */
.space {
	&-width {
		width: t.$spacing;
		&-ratio {
			width: t.$aspect-ratio;
		}
	}
	&-height {
		height: t.$spacing;
		&-ratio {
			height: t.$aspect-ratio;
		}
	}
	&-double {
		&-width {
			width: calc(t.$spacing * 2);
			&-ratio {
				width: calc(t.$aspect-ratio * 2);
			}
		}
		&-height {
			height: calc(t.$spacing * 2);
			&-ratio {
				height: calc(t.$aspect-ratio * 2);
			}
		}
	}
}
