//- Head es lo unico que vamos a extender *//
extends ../components/_head.pug

//- including

block title
  title Pause Scene

block content
  .scene.scene-title
    p.title-level-two En seguida regresamos
    +video-container