/* ----- social colors */
.facebook {
  color: #1877f2;
}
.facebook-background {
  background-color: #1877f2;
}

.twitch {
  color: #9146ff;
}
.twitch-background {
  background-color: #9146ff;
}

.youtube {
  color: #ff0000;
}
.youtube-background {
  background-color: #ff0000;
}

.spotify {
  color: #1db954;
}
.spotify-background {
  background-color: #1db954;
}

.black {
  color: black;
}
.black-background {
  background-color: black;
}

.white {
  color: white;
}
.white-background {
  background-color: white;
}

.tiktok {
  color: white;
}
.tiktok-background {
  background-color: white;
}

/* ------ dev colors */
.background {
  background-color: transparent;
}
.background-white {
  background-color: #92aeb3;
}

/* ---- other colors */
.glass-background, #banner-box, .social-widget__camera-frame {
  background-color: rgba(0, 0, 0, 0.8);
}

/* ----- Fonts ----- */
* {
  color: white;
}

.main-font, .big-title-level-one, .big-title-level-two {
  font-family: "Montserrat", sans-serif;
}

.secondary-font, .title-level-two, .secondary-title {
  font-family: "Tilt Neon", cursive;
}

.xl-font, .big-title-level-one {
  font-size: 240px;
}

.md-font, .title-level-two, .big-title-level-two {
  font-size: 80px;
}

.complementary-font, .secondary-title {
  font-size: 90px;
}

.bold-font, .public-banner #aff_offer,
.public-banner #aff_link {
  font-weight: 700;
}

.semibold-font, .big-title-level-one, .big-title-level-two, .public-banner #aff_des {
  font-weight: 600;
}

.widget, .social-widget {
  font-family: "Tilt Neon", cursive;
}
.widget-small, .social-widget__camera-frame {
  font-size: 40px;
}
.widget-large, .social-widget__camera-frame__large {
  font-size: 50px;
}

.public-banner {
  font-family: "Tilt Neon", cursive;
}
.public-banner #banner_title {
  font-size: 22px;
}
.public-banner #aff_des {
  font-size: 22px;
}
.public-banner #aff_offer,
.public-banner #aff_link {
  font-size: 26.4px;
}

i[class^=fa] {
  font-size: 0.9em;
  margin-inline: 8px;
}

/* ----- spacing ----- */
/* regular spacing */
.space-width, #banner-box, .camera-frame, .social-widget__camera-frame, .public-banner {
  width: 420px;
}
.space-width-ratio {
  width: 315px;
}
.space-height {
  height: 420px;
}
.space-height-ratio, .camera-frame {
  height: 315px;
}
.space-double-width, .camera-frame__large, .social-widget__camera-frame__large {
  width: 840px;
}
.space-double-width-ratio {
  width: 630px;
}
.space-double-height {
  height: 840px;
}
.space-double-height-ratio, .camera-frame__large {
  height: 630px;
}

.public-banner {
  height: 80px;
}

.scene-title {
  padding-left: 140px;
}
.scene-game {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 420px 1fr 420px;
  grid-template-columns: 420px 1fr 420px;
}

.video-container {
  height: 630px;
  width: 1120px;
}

.main-color-border, #banner-box, .video-container, .camera-frame {
  border: #5d04d9 5px solid;
}

.rounded, #banner-box, .camera-frame, .social-widget__camera-frame {
  border-radius: 20px;
}

.rounded-total, .bolts > div {
  border-radius: 50%;
}

.bolts {
  position: absolute;
  width: 100%;
  height: 100%;
  padding-inline: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.bolts > div {
  width: 15px;
  height: 15px;
  border: 3px solid rgba(255, 255, 255, 0.5);
}

.camera-frame {
  position: relative;
}
.camera-frame__large {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-widget {
  position: relative;
}
.social-widget__camera-frame {
  position: absolute;
  bottom: -100px;
  line-height: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}
.social-widget__camera-frame__large {
  bottom: 0;
}

/* Video Container */
#banner-box {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 2;
  grid-row: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  height: 80px;
}
#banner-box #aff_logo {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}
#banner-box #aff_logo img {
  height: 70px;
}
#banner-box .aff-item {
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
}
#banner-box .hidden {
  display: none;
}