mixin big-title-level-two(action)
  .big-title-level-two=action

mixin big-title-level-one
  .big-title-level-one Directo

mixin secondary-title
  .secondary-title
    | EDarkMatter
    i(class="fa-brands fa-twitch")
    i(class="fa-brands fa-facebook")
    i(class="fa-brands fa-youtube")
    i(class="fa-brands fa-tiktok")
    i(class="fa-brands fa-twitter")
    i(class="fa-brands fa-instagram")
