mixin public_banner
  #banner-box.public-banner
    #banner_title.aff-item.animate__animated Afiliado del stream:
    #aff_logo.aff-item.animate__animated
      img(src="https://i.ibb.co/cwfmG8w/Site-Ground-Com-Inc-Logo.png" alt="aff-spon logo" )
    #aff_des.aff-item.animate__animated El hosting mas rapido para tu negocio
    #aff_offer.aff-item.animate__animated Ahorra hasta un 83% ahora!
    #aff_link.aff-item.animate__animated edark.link/siteground