mixin public_banner
  #banner-box
    #banner_title.aff-item Afiliado del stream:
    #aff_logo.aff-item
      img(src="https://i.ibb.co/cwfmG8w/Site-Ground-Com-Inc-Logo.png")
    #aff_des.aff-item El hosting mas rapido para tu negocio
    #aff_offer.aff-item Ahorra hasta un 83% ahora!
    #aff_link.aff-item edark.link/siteground