mixin public_banner
  #banner-box.public-banner
    #banner_title.aff-item.animate__animated.animate__backInUp
    #aff_logo.aff-item.animate__animated.animate__backInUp
      img(alt="aff-spon logo")
    #aff_des.aff-item.animate__animated.animate__backInUp
    #aff_offer.aff-item.animate__animated.animate__backInUp
    #aff_link.aff-item.animate__animated.animate__backInUp