// Utils

@use "../utils/index" as utils;

// Content

.camera-frame {
	@extend .main-color-border;
	&__large {
		@extend .space-double-width;
		@extend .space-double-height-ratio;
	}
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}
