//* Game Scene

@use "../utils/tokens" as t;

.scene-game {
	height: 1080px;
	display: grid;
	grid-template-columns: t.$spacing 1fr t.$spacing;
	grid-template-rows: 65% 35%;
	place-items: end;
	// background-image: url(https://assets-prd.ignimgs.com/2024/06/18/switch-thelegendofzelda-echoesofwisdom-scrn-18-1718724816307.jpg);
}
